[submodule "python-zeroconf"]
	path = python-zeroconf
	url = https://github.com/jstasiak/python-zeroconf
[submodule "ifaddr"]
	path = ifaddr
	url = https://github.com/pydron/ifaddr
[submodule "async-timeout"]
	path = async-timeout
	url = https://github.com/aio-libs/async-timeout
